apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: alertmanager
        namespace: monitoring
      spec:
        ingressClassName: nginx-public
        tls:
        - hosts:
          - alertmanager.apps-prod.in.hinisoft.com
          secretName: alertmanager-tls-prod
        rules:
        - host: alertmanager.apps-prod.in.hinisoft.com
          http:
            paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: alertmanager
                  port:
                    number: 9093
    target:
      kind: Ingress
      name: alertmanager
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: alertmanager
        namespace: monitoring
      spec:
        replicas: 2
        template:
          spec:
            containers:
            - name: alertmanager
              args:
                - '--config.file=/etc/alertmanager/alertmanager.yml'
                - '--storage.path=/alertmanager'
                - '--web.external-url=https://alertmanager.apps-prod.in.hinisoft.com'
                - '--cluster.listen-address=0.0.0.0:9094'
              resources:
                limits:
                  cpu: 500m
                  memory: 512Mi
                requests:
                  cpu: 200m
                  memory: 256Mi
    target:
      kind: Deployment
      name: alertmanager
  - patch: |-
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: alertmanager-pvc
        namespace: monitoring
      spec:
        resources:
          requests:
            storage: 10Gi
    target:
      kind: PersistentVolumeClaim
      name: alertmanager-pvc

namePrefix: prod-
nameSuffix: ""
